<div *ngIf="$tabs.selectedTabs">
  <app-tabs-items [tabs]="$tabs.selectedTabs"></app-tabs-items>
  <div class="controls">
    <button md-button [disabled]="!$tabs.selectedTabs.length" [routerLink]="['/selection']">Назад</button>
  </div>
</div>