<app-selection-items [tabs]="tabs" (toggleSelect)="onToggleSelect($event)"></app-selection-items>
<div class="controls">
  <button md-button [disabled]="!$tabs.selectedTabs.length" [routerLink]="['/tabs']">Табы</button>
</div>