/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.controls {
  margin-top: 20px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}